/* Basic styling for the page */
/* CSS Reset */
@import url("reset.css");
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
    margin: 0;
    padding: 0.5rem;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    background-color: #f0f0f0;
    overflow-x: hidden;
    overflow-y: auto;
    }
    


/* Center the container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 0.75rem;
    padding: 0.5rem;
    width: 100%;
    margin: 0 auto;
    height: 99dvh;
    position: relative;

}
.top-right-button {
    position: absolute;
    top: 10px; /* Adjust to position vertically */
    right: 10px; /* Adjust to position horizontally */
}

.top-left-button {
    position: absolute;
    top: 10px; /* Adjust to position vertically */
    left: 10px; /* Adjust to position horizontally */
}

/* Styling for the image of the munro */
.munro-image {
    max-width: 100%;
    height: 62vh;
    border-radius: .5rem;
    margin-top: 0.5rem;
}

h1 {
    font-size: 3.5rem;
    color: #333;
}

.weather-data {
    margin-top: 1.2rem;
  }

.display-weather-data {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.weatherIcon {
    width: 120px; 
    height: 120px; 
    background-color: #0771bc; 
    border-radius: 50%; 
    padding: 5px; 
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2 1 auto;
    margin: 0.25rem auto;
    font-size: 3.2rem;
    color: #555;
    width: 100vw;
    height: 100vh;
    border-radius: 0.15rem;
    vertical-align:center;

}

button {
    font-size: 1em;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #0771bc;
    color: white;
    border: none;
  }
  
/* Style for the Mountain Dropdown */
#mountain-dropdown {
    padding: 5px 5px;        
    font-size: 3.25rem;        
    border-radius: 8px;        
    background-color: #f8f8f8;  
    border: 2px solid #02bfe7;    
    width: 50%;                
}

/* Optional: Hover effect for the dropdown */
#mountain-dropdown:hover {
    border-color: #0071bc;      
    background-color: #e8f5e9;   
}

/* Optional: Focus effect for better accessibility */
#mountain-dropdown:focus {
    outline: none;                           
    border-color: #0071bc;                       
    box-shadow: 0 0 5px #4773aa;  
}

/* Optional: Add better visual indicators when focused or hovered for accessibility */
#mountain-dropdown:focus-visible {
    box-shadow: 0 0 0 3px #0071bc;  /* Focus indicator */
}

/* Style for the Load Mountain Data button */
#load-mountain-btn {
    padding: 15px 30px;      
    min-width: 300px;
    font-size: 1.5rem;        
    border-radius: 8px;        
    background-color: #0071bc; 
    color: white;             
    border: none;              
    cursor: pointer;          
    transition: background-color 0.3s ease;  
}

/* Optional: Hover effect for the button */
#load-mountain-btn:hover {
    background-color: #0771bc; 
}

/* Optional: Focus effect for better accessibility */
#load-mountain-btn:focus {
    outline: none; /* Remove outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional shadow when focused */
}


/* Optional: Style the options inside the select */
#mountain-dropdown option {
    padding: 5rem;
    font-size: 1em;
}

.zoom-image {
    max-width: 80%; 
  
}
.zoomable-image {
    width: 25vw; 
    height: 65vh;
 /*   flex: 2 1 auto; */
}


/* Using media queries for responsive */
  
@media only screen and (max-width: 600px) {
    .top-right-button,
    .top-left-button {
        top: .5rem; /* Adjust vertical position */
        padding: 4px 6px; /* Adjust padding */
        font-size: 0.4rem; /* Smaller font size for small screens */
    }

    .top-right-button {
        right: .2rem; /* Adjust the right positioning */
    }

    .top-left-button {
        left: .2rem; /* Adjust the left positioning */
    }
    .weather-and-image {
    flex-direction: column;
        align-items: center;
    }
    #mountain-data,
    .container,
    .display-town-data,
    .display-weather-data{
        font-size: 0.4rem;
    }

    .weather-data,
    #image-container {
        max-width: 100%; 
    }

    h1 {
        font-size: .5rem;  
    }
}
@media only screen and (min-width: 600px) {
    .container {
        width: 100%;  
    }

    .weather-and-image {
        justify-content: center; 
    }
    #mountain-data,
    .container,
    .display-town-data,
    .display-weather-data{
        font-size: 0.4rem;
    }
    .weather-data, 
    #image-container {
        max-width: 100%;  
    }

    h1 {
        font-size: 1.5rem; 
    }

   
    .zoomable-image {
        max-width: 80%;  
    }
}



@media only screen and (min-width: 768px) {
    .container {
        width: 100%;  
    }

    .weather-and-image {
        justify-content: center; 
    }
    #mountain-data,
    .container,
    .display-town-data,
    .display-weather-data{
        font-size: 1.0rem;
    }
    .weather-data, 
    #image-container {
        max-width: 100%;  
    }

    h1 {
        font-size: 1.5rem; 
    }

   
    .zoomable-image {
        max-width: 80%;  
    }
}
@media only screen and (min-width: 992px) {
    .container {
        width: 100%;  
    }
    .top-right-button {
        right: .05rem; /* Adjust the right positioning */
    }

    .top-left-button {
        left: .05rem; /* Adjust the left positioning */
    }
    .weather-and-image {
        justify-content: center; 
    }
    #mountain-data,
    .container,
    .display-town-data,
    .display-weather-data{
        font-size: 1.rem;
    }
    .weather-data, 
    #image-container {
        max-width: 100%;  
    }

    h1 {
        font-size: 2.0rem; 
    }

   
    .zoomable-image {
        max-width: 80%;  
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 100%;  
    }
    .top-right-button {
        right: 1.0rem; /* Adjust the right positioning */
    }

    .top-left-button {
        left: 1.rem; /* Adjust the left positioning */
    }
    .weather-and-image {
        justify-content: center; 
    }
    #mountain-data,
    .container,
    .display-town-data,
    .display-weather-data{
        font-size: 1.5rem;
    }
    .weather-data, 
    #image-container {
        max-width: 100%;  
    }

    h1 {
        font-size: 2.5rem; 
    }

   
    .zoomable-image {
        max-width: 80%;  
    }
}



